.bottom{
    width: clamp(500px, 80%, 1200px);
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Roboto';
}

.bottom-header{
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 1rem;
}

.bottom-header > div{
    padding: .5rem;
    border-bottom: 2px solid #306c7c;
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
}

.bottom-body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bottom-body > div{
    flex: 0 0 28ch;
    min-width: 28ch;
    box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, .2);
    margin: .5rem;
    cursor: pointer;
}
