.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, .2);
    padding-top:25px;
    padding-bottom: 10px;
}

.form h1 {
    margin: 10px;
}

.login_form{
    margin: 50px auto;
    width: 500px;
    display: flex;
    justify-content: center;
}

.col-md-10{
    margin: auto;
}

.is-invalid{
    border-color: #dc3545 !important;
    background-image:none !important;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #dc3545 !important;
    background-image:none !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    background-image:none !important;
}

.form-select{
    cursor: pointer;
}
.form-control.is-invalid, .was-validated .form-select:invalid  {
    border-color: #dc3545 !important;
    padding-right: 4.125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    background-position: right .75rem center,center right 2.25rem;
    background-size: 16px 12px,calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-valid, .was-validated .form-control:valid {
     border-color:#ced4da;
     background-image :none !important;
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
    border-color:#ced4da;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}




.invalid-champ{
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
    height: 21px;
}

.valid-champ{
    visibility: hidden;
    height: 22px;
    
}

.input-group-text {
    background-color: white !important;
}

.input-group>.form-control, .input-group>.form-select {
    border-right: none;
}

.invalid-inputgroup{
    border-color: #dc3545 !important;
    border-left: none;
}


.recaptchu_required iframe{
    border: 1px solid #dc3545;
}




input,select{
    box-shadow: none !important;
}
 input[type="checkbox"]{
     cursor: pointer;
}

.recaptchu_login{
    margin-top: 1.5rem;
    text-align:-webkit-center;
}


.submit_but{
    all: unset;
    background: #4961bb;
    color: white;
    padding: .2rem 5rem;
    margin: .4rem;
    font-size: 1.4rem;
    border-radius: 8px;
    transition: filter 300ms;
}
.submit_but:hover{
    filter: brightness(1.2);
}

.under_submit{
    display: flex;
    justify-content: space-between;
}

.under_submit a{
    text-decoration: none;
    font-size: 12pt;
}

.disabled_button{
    pointer-events: none;
    opacity: 0.4;
  }